/* Margin & Padding - Cima, direita, baixo, esquerda */

body{
    background: linear-gradient(white, gray);
}

.titulo-principal{
    font-size: 30px;
    font-weight:bold;
    padding: 50px 20px 50px;
    margin: 0 0 15px;
}

.imagem-principal{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.titulo-historia-do-site{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 15px;
}

.principal em, p{
    text-align: center;
    font-size: 18px;
}

.principal p{
    margin: 20px 40px 20px;
}

.mapa-conteudo{
    padding: 2em 0;
    width: 940px;
    margin: 0 auto;
}
